/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fine Reset */

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
}

a{
    color: #42b6e9;
    text-decoration: none;
    font-weight: bold;
}

.t-gray{
    color: gray;
    font-weight: bold;
}

.t-gray.date {
    font-size: 0.7rem;
    margin-bottom: 20px;
}

.photo-description{
    font-size: 0.7rem;
}