/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fine Reset */

main, footer{
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
}

.t-gray.date, table{
    margin-bottom: 20px;
}

/* header */

header{
    height: 125px;
    background-image: url(../img/pattern.png);   background-size: cover;
    background-size: 40%;
    background-color: #4ea0ff;
    position: relative;
}

header img{
    width: 18%;
    height: auto;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* main */

h1{
    font-size: 2.5rem;
}

a{
    color: #42b6e9;
    text-decoration: none;
    font-weight: bold;
}

.t-gray{
    color: gray;
    font-weight: bold;
}

.t-gray.date, .photo-description{
    font-size: 0.7rem;
}

.first-p{
    margin: 20px 0;
}

.highlighted{
    background-color: yellow;
}

.first-p.ul {
    margin-left: 15px;
}

/* table */

table{
    border-spacing: 0;
}

th{
    background-color: #20a9e5;
    color: white;
}

tr{
    text-align: left;
}

.row-25{
    width: 25%;
}

.row-50{
    width: 50%;
}

.bc-lightblue{
    background-color: #b1e5f2;
}

/* footer */

footer p{
    margin-top: 30px;
    color: grey;
    font-weight: bold;
    font-size: 1.2rem;
}

#ph-footer1, #ph-footer2{
    width: 270px;
    height: 208px;
    color: white;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
}

#ph-footer1{
    background-image: url(../img/monitor.jpg);
}

#ph-footer2{
    background-image: url(../img/graph.jpg);
}