/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fine Reset */

body{
    font-family: 'Times New Roman', Times, serif;
}

a{
    color: #42b6e9;
    text-decoration: none;
}

.t-gray{
    color: gray;
}

.t-gray.date {
    font-size: 0.7rem;
}

